# Django Settings
DJANGO_SECRET_KEY='your-secret-key-here'

# PostgreSQL Database Settings
POSTGRES_NAME=weather_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Weather API (OpenWeatherMap)
WEATHER_API_KEY=your-api-key
WEATHER_API_BASE_URL=https://api.openweathermap.org/data/2.5/forecast


WEATHER_CACHE_TTL=300
THROTTLE_RATE_LIMIT=30
DEFAULT_PAGE_SIZE=10


# Redis
REDIS_URL=redis://redis:6379/0

# Django Port
DJANGO_PORT=8000
